# Dependencies
node_modules/
backend/target/

# Environment Variables
.env
*.env
.env.*
!.env.example

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~

# OS and Build Files
.DS_Store
Thumbs.db
backend/.mvn/wrapper/maven-wrapper.jar
frontend/dist/
